<!doctype html>
<html>
  <head>
    <title>
      {{ voyage.title }}
    </title>
  </head>

  <body>
    <h2 id='title'>
      {{ voyage.title }}
    </h2>

    <img width='100%' src='{{ txtt.banner_image(voyage) }}'>

    {% for c in voyage.sections.summary %}
      <div class='content'>
        {{ txtt.text2html(c) | safe }}
      </div>
    {% endfor %}

    <h4>More on <a href="https://wikivoyage.org/wiki/{{ voyage.title }}">Wikivoyage</a></h4>

    {{ voyage }}

    <style>
      .content {
        white-space: pre-wrap;
      }
    </style>
  </body>
</html>
